<section class="grid grid-cols-12 shadow-md rounded-2xl bg-white my-2">
  <div class="col-span-12 px-5 mt-6 font-bold">
    <h1 class="float-left text-blue-700">Add /edit Orders</h1>
    <button
      routerLink="/orders"
      (click)="addOrder(orderModel)"
      type="submit"
      class="
        bg-blue-500
        px-4
        py-1
        rounded-2xl
        float-right
        text-white
        hover:bg-blue-700
        transition
        ease-in
        duration-75
      "
    >
      Save Order
    </button>
    <button
      (click)="saveProduct(orderModel, product)"
      type="submit"
      class="
        mr-5
        bg-blue-500
        px-4
        py-1
        rounded-2xl
        float-right
        text-white
        hover:bg-blue-700
        transition
        ease-in
        duration-75
      "
    >
      Add Product
    </button>
  </div>

  <div class="col-span-12 p-5 mt-3">
    <form class="w-full" #formName="ngForm" (ngSubmit)="addOrder(orderModel)">
      <div class="flex flex-wrap -mx-3">
        <div class="w-full md:w-1/2 px-3">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="productname"
          >
            Product Name
          </label>
          <div class="relative">
            <select
              #productname="ngModel"
              [(ngModel)]="product"
              name="productname"
              class="
                block
                appearance-none
                w-full
                bg-gray-200
                border border-gray-200
                text-gray-700
                py-3
                px-4
                pr-8
                rounded
                leading-tight
                focus:outline-none focus:bg-white focus:border-gray-500
              "
              id="productname"
            >
              <option *ngFor="let product of allProducts" [ngValue]="product">
                {{ product.name }}
              </option>
            </select>
            <div
              class="
                pointer-events-none
                absolute
                inset-y-0
                right-0
                flex
                items-center
                px-2
                text-gray-700
              "
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 px-3">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="customer"
          >
            Customer
          </label>
          <div class="relative">
            <select
              #customer="ngModel"
              [(ngModel)]="orderModel.customer"
              name="customer"
              class="
                block
                appearance-none
                w-full
                bg-gray-200
                border border-gray-200
                text-gray-700
                py-3
                px-4
                pr-8
                rounded
                leading-tight
                focus:outline-none focus:bg-white focus:border-gray-500
              "
              id="customer"
            >
              <option>Jonas</option>
              <option>Tom D</option>
              <option>Yarrut</option>
            </select>
            <div
              class="
                pointer-events-none
                absolute
                inset-y-0
                right-0
                flex
                items-center
                px-2
                text-gray-700
              "
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="addorders col-span-12 p-5 capitalize">
    <ul>
      <li
        *ngFor="let product of orderModel.products"
        class="grid grid-cols-12 px-2 bg-gray-100 py-3"
      >
        <div class="title col-span-10 md:col-span-3 font-bold text-blue-700">
          {{ product.name }}
        </div>
        <div class="col-span-2 md:col-span-3 text-gray-700">
          {{ orderModel.count }}x
        </div>
        <div class="col-span-10 md:col-span-3 pt-3 md:pt-0 text-gray-700">
          {{ product.description }}
        </div>
        <div class="col-span-2 md:col-span-3 pt-3 md:pt-0 text-gray-700">
          {{ product.price }} $
        </div>
      </li>

      <li class="grid grid-cols-12 px-2 bg-gray-100 py-3">
        <div class="title col-span-10 md:col-span-9 font-bold text-blue-700">
          Total
        </div>
        <div class="col-span-2 md:col-span-3 text-gray-700 text-blue-700">
          €{{ orderModel.totalPrice }}
        </div>
      </li>
    </ul>
  </div>
</section>
