<section class="grid grid-cols-12 shadow-md rounded-2xl bg-white my-2">
  <div class="col-span-12 px-5 mt-6 font-bold">
    <h1 class="float-left text-blue-700">Add / edit Products</h1>
    <button
      routerLink="/products"
      (click)="onClick(product)"
      type="submit"
      class="
        bg-blue-500
        px-4
        py-1
        rounded-2xl
        float-right
        text-white
        hover:bg-blue-700
        transition
        ease-in
        duration-75
      "
    >
      Save
    </button>
  </div>
  <div class="col-span-12 p-5 mt-3">
    <form #formName="ngForm" (ngSubmit)="onClick(product)" class="w-full">
      <div class="flex flex-wrap -mx-3">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
            for="grid-first-name"
          >
            Product Name
          </label>
          <input
            required
            [(ngModel)]="product.name"
            #name="ngModel"
            name="name"
            class="
              appearance-none
              block
              w-full
              bg-gray-200
              text-gray-700
              border
              rounded
              py-3
              px-4
              mb-3
              leading-tight
              focus:outline-none focus:bg-white
            "
            id="grid-first-name"
            type="text"
            placeholder="Product Name"
          />
        </div>

        <div class="w-full md:w-1/2 px-3">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
          >
            Price
          </label>
          <div class="relative">
            <input
              required
              [(ngModel)]="product.price"
              #price="ngModel"
              name="price"
              class="
                appearance-none
                block
                w-full
                bg-gray-200
                text-gray-700
                border
                rounded
                py-3
                px-4
                mb-3
                leading-tight
                focus:outline-none focus:bg-white
              "
              id="grid-first-name"
              type="number"
              placeholder="0"
            />
          </div>
        </div>

        <div class="w-full md:w-3/4 px-3">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
          >
            Description
          </label>
          <div class="relative">
            <input
              required
              [(ngModel)]="product.description"
              #description="ngModel"
              name="description"
              class="
                appearance-none
                block
                w-full
                bg-gray-200
                text-gray-700
                border
                rounded
                py-3
                px-4
                mb-3
                leading-tight
                focus:outline-none focus:bg-white
              "
              id="grid-first-name"
              type="text"
              placeholder="Description"
            />
          </div>
        </div>

        <div class="w-full md:w-1/4 px-3">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-gray-700 text-xs
              font-bold
              mb-2
            "
          >
            Stock
          </label>
          <div class="relative">
            <input
              required
              [(ngModel)]="product.stock"
              #stock="ngModel"
              name="stock"
              class="
                appearance-none
                block
                w-full
                bg-gray-200
                text-gray-700
                border
                rounded
                py-3
                px-4
                mb-3
                leading-tight
                focus:outline-none focus:bg-white
              "
              id="grid-first-name"
              type="number"
              placeholder="0"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
