<header class="grid grid-cols-8 bg-blue-800">
    <div class="col-span-8 md:col-span-2 text-white text-3xl p-3 ">
      <i class="fas fa-map mr-3 pt-1"></i><h1 class="text-center md:text-left pt-2 inline">Parcel</h1>
    </div>

    <div class="col-span-6 md:col-span-5 py-3 bg-blue-700 px-3">
      <form class="w-full">
        <label class="hidden">Search</label>
        <input class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner w-full" placeholder="Search" type="text">
        <button class="hidden">Submit</button>
      </form>
    </div>

    <div class="col-span-2 md:col-span-1 md:col-span-1 bg-blue-700">
      <div class="user bg-blue-500 p-2 w-min mt-3 float-right mr-4 text-white rounded-full hover:bg-blue-600 hover:text-blue-200 cursor-pointer">
        <i class="fas fa-user-alt"></i>
      </div>
    </div>

</header>
