<header class="grid grid-cols-8 bg-blue-700 p-2 gap-4">
    <div class="col-span-8 md:col-span-2 text-white text-3xl">
      <h1 class="text-center md:text-left">ORDER APP</h1>
    </div>

    <div class="col-span-6 md:col-span-5 bg-red-200">
      <form class="w-full">
        <label class="hidden">Search</label>
        <input class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner w-full" placeholder="Search" type="text">
        <button class="hidden">Submit</button>
      </form>
    </div>

    <div class="col-span-2 md:col-span-1 md:col-span-1">
      <h2>User<br>name</h2>
    </div>

</header>
