header {
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }

  .user {
    i.fas {
      width: 30px;
      height:30px;
     font-size:20px;
      text-align: center;
      padding-top: 4px;
    }
  }
}
