<section class="grid grid-cols-10 shadow-md rounded-2xl">
  <div class="col-span-12 px-5 mt-6 font-bold">
    <h1 class="float-left text-blue-700">Orders</h1>
    <button type="submit" class="px-4 py-1 rounded-2xl float-right text-white bg-green-500 hover:bg-green-700 transition ease-in duration-75">New Order</button>
  </div>
  <div class="col-span-12 p-5">
    <ul>
      <li class="grid grid-cols-10 px-2 bg-gray-100 py-1 rounded-tl-xl rounded-tr-xl">
        <div class="col-span-2 font-bold">order 1</div>
        <div class="col-span-2">date</div>
        <div class="col-span-2">customer</div>
        <div class="col-span-2">200$</div>
        <div class="col-span-2 float-right"> <button type="submit" class="m-1 text-sm px-4 py-1 rounded-2xl float-right text-white bg-blue-500 hover:bg-blue-700 transition ease-in duration-75">Edit Order</button>
        </div>
      </li>

      <li class="grid grid-cols-10 px-2 bg-gray-200 py-1">
        <div class="col-span-2 font-bold">order 2</div>
        <div class="col-span-2">date</div>
        <div class="col-span-2">customer</div>
        <div class="col-span-2">200$</div>
        <div class="col-span-2"><button type="submit" class="m-1 text-sm px-4 py-1 rounded-2xl float-right text-white bg-blue-500 hover:bg-blue-700 transition ease-in duration-75">Edit Order</button></div>
      </li>

      <li class="grid grid-cols-10 px-2 bg-gray-100 py-1 rounded-bl-xl rounded-br-xl">
        <div class="col-span-2 font-bold">order 3</div>
        <div class="col-span-2">date</div>
        <div class="col-span-2">customer</div>
        <div class="col-span-2">200$</div>
        <div class="col-span-2"><button type="submit" class="m-1 text-sm px-4 py-1 rounded-2xl float-right text-white bg-blue-500 hover:bg-blue-700 transition ease-in duration-75">Edit Order</button></div>
      </li>
    </ul>
  </div>
</section>
