<section class="grid grid-cols-12">
  <div class="col-span-12 p-5">
    ORDERS<br>
    <button class="bg-blue-500 px-4 px-1" type="submit">ADD ORDER</button>
  </div>
  <div class="col-span-12">
    <ul>
      <li class="grid grid-cols-12">
        <div class="col-span-3">orders</div>
        <div class="col-span-3">date</div>
        <div class="col-span-3">customer</div>
        <div class="col-span-3"><button class="bg-blue-500 px-4 px-1" type="submit">edit</button></div>
      </li>

      <li class="grid grid-cols-12">
        <div class="col-span-3">orders</div>
        <div class="col-span-3">date</div>
        <div class="col-span-3">customer</div>
        <div class="col-span-3"><button class="bg-blue-500 px-4 px-1" type="submit">edit</button></div>
      </li>

      <li class="grid grid-cols-12">
        <div class="col-span-3">orders</div>
        <div class="col-span-3">date</div>
        <div class="col-span-3">customer</div>
        <div class="col-span-3"><button class="bg-blue-500 px-4 px-1" type="submit">edit</button></div>
      </li>

      <li class="grid grid-cols-12">
        <div class="col-span-3">orders</div>
        <div class="col-span-3">date</div>
        <div class="col-span-3">customer</div>
        <div class="col-span-3"><button class="bg-blue-500 px-4 px-1" type="submit">edit</button></div>
      </li>

      <li class="grid grid-cols-12">
        <div class="col-span-3">orders</div>
        <div class="col-span-3">date</div>
        <div class="col-span-3">customer</div>
        <div class="col-span-3"><button class="bg-blue-500 px-4 px-1" type="submit">edit</button></div>
      </li>
    </ul>
  </div>
</section>
