<nav>
  <ul class="grid grid-cols-3">
    <li class="text-center col-span-1 md:text-left md:col-span-3 inline py-1 hover:text-blue-700">
      <a routerLink="/orders" routerLinkActive="active"
        ><i class="fas fa-inbox"></i>Orders</a
      >
    </li>
    <li class="text-center col-span-1 md:text-left md:col-span-3 inline py-1 hover:text-blue-700">
      <a routerLink="/products" routerLinkActive="active"
        ><i class="fas fa-box-open"></i>Products</a
      >
    </li>
    <li class="text-center col-span-1 md:text-left md:col-span-3 inline py-1 hover:text-blue-700">
      <a href=""><i class="fas fa-user-alt"></i>Customers</a>
    </li>
  </ul>
</nav>
